/keys.txt

/res/raw/.DS_Store
/src/.DS_Store
/src/com/.DS_Store
/src/com/davidivins/.DS_Store
/src/com/davidivins/checkin4me/.DS_Store
/res/.DS_Store
/res/drawable-hdpi/.DS_Store
/presentation/.DS_Store
/presentation/images/.DS_Store
/paper/images/.DS_Store
/paper/.DS_Store
/.DS_Store
/bin/CheckIn4me.apk
/bin/resources.ap_
/gui_prototypes/.DS_Store
/gui_prototypes/images/.DS_Store
/gui_prototypes/pdfs/.DS_Store
/gui_prototypes/pdfs/pngs/.DS_Store
/gen/
/bin/com/
/bin/.DS_Store